/* Calculator Grid */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 10px;
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    font-size: 2vh;
    border: 1px solid white;
    outline: none;
    background-color: #ffffffbf;
  }
  
  .calculator-grid > button:hover {
    background-color: #ffffffe6;
  }
  
  .dark-mode .calculator-grid > button:hover {
    background-color: #aeaaaae6;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  /*Responsive Grid Styles*/
  @media (max-width: 600px) {
    .calculator-grid {
      grid-template-columns: repeat(4, 20vw);
      grid-template-rows: minmax(30vw, auto) repeat(5, 20vw);
      gap: 2vw;
    }
  
    .calculator-grid > button {
      font-size: 4vw;
    }
  }
  
  /* Output Styles */
  .output {
    grid-column: 1 / -1;
    background-color: #000000bf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: #ffffffbf;
    font-size: 1.2rem;
  }
  
  .output .current-operand {
    color: #ffffff;
    font-size: 2rem;
  }
  
  /* Responsive Output Styles */
  @media (max-width: 600px) {
    .output {
      padding: 3vw;
    }
  
      .output .previous-operand {
      font-size: 4vw;
    }
  
    .output .current-operand {
      font-size: 5vw;
    }
  }

  input {
    display: none;
  }